page-maze {
    text-align: center;
}

.maze ion-grid {
    max-height: fixed;
    max-width: fixed;
    padding: no-padding;
    border: black solid;
}

.maze-grid ion-row{
    min-height: 44px;
}

.maze-grid ion-col{
    padding-right: 72px;
}